[submodule "src/ui/SignedImageList_view_model"]
	path = src/ui/SignedImageList_view_model
	url = git@github.com:Asset34/SignedImageList_view_model.git
[submodule "src/neural_networks/ann_core"]
	path = src/neural_networks/ann_core
	url = git@github.com:asset34/ann_core.git
